name: "Branch"

on:
    push:
        branches:
            - "main"

concurrency:
  # Cancel old runs if there is a new commit in the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    integration:
        runs-on: ubuntu-latest
        steps:
            - name: Retrieve branch name
              run: echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
            - uses: actions/checkout@v2
            - uses: docker/setup-qemu-action@v2
            - uses: docker/setup-buildx-action@v2
            - uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PUSH_TOKEN }}
            # Build and push docker image
            - name: Build docker image
              uses: docker/build-push-action@v4
              with:
                  target: release
                  push: true
                  tags: peersyst/exrp:${{ env.BRANCH }}
                  secrets: |
                    ssh_key_b64=${{ secrets.SSH_KEY_B64 }}
