name: GoReleaser
on:
  workflow_dispatch:
    inputs:
      commit_branch:
        description: The branch or the commit sha to push tag to
        required: true
  workflow_call:
    inputs:
      commit_branch:
        type: string
        description: The branch or the commit sha to push tag to
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        run: rm -rf /opt/hostedtoolcache
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_branch }}
          fetch-depth: 0
          fetch-tags: true
      # Build and push docker image
      - name: Run go releaser
        run: |
          docker run --rm -e CGO_ENABLED -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
             -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:/go/src/exrp -w /go/src/exrp \
             goreleaser/goreleaser-cross:v1.22 release --clean --skip validate